---
import Disclaimer from '@/components/disclaimer.astro'
import Base from '@/layouts/base.astro'
---

<Base title={'bacaxnot'}>
	<section class="@container z-0 grid gap-6">
		<Disclaimer>
			este blog solo pretende compartir ideas que tengo mientras exploro este maravilloso y
			aterrador misterio llamado existencia. si te gusta, ps bien; si no, ps también. besos
			cibernéticos para tod@s.
		</Disclaimer>
		<ul class="@2xl:grid-cols-2 grid gap-x-8 gap-y-16">
			<!-- {
				posts?.map((post, index) =>
					index === 0 ? (
						<BlogPostCard key={post.id} post={post} class="@2xl:col-span-2" />
					) : (
						<BlogPostCard key={post.id} post={post} />
					)
				)
			} -->
		</ul>
	</section>
</Base>
