---
import '@fontsource-variable/roboto-mono'
import Navbar from '@/components/navbar.astro'

interface Props {
	title: string
}
const { title } = Astro.props

const styles =
	'grid min-h-[100dvh] grid-rows-[auto,1fr] bg-black font-mono text-white [color-scheme:dark]'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png?v=1" />
		<link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png?v=1" />
		<link rel="shortcut icon" href="/icon/favicon.ico?v=1" />
		<link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-touch-icon.png?v=1" />
		<meta name="apple-mobile-web-app-title" content="bacaxnot" />
		<meta name="application-name" content="bacaxnot" />
		<meta name="msapplication-TileColor" content="#da532c" />
		<meta name="theme-color" content="#000000" />
		<link rel="mask-icon" href="/icon/safari-pinned-tab.svg?v=1" color="#000000" />
		<link rel="manifest" href="/site.webmanifest?v=1" />
		<title>{title}</title>
	</head>
	<body class={styles}>
		<Navbar class="w-page justify-self-center px-page" />
		<main class="w-page justify-self-center px-page">
			<slot />
		</main>
	</body>
</html>
