---
import "@fontsource-variable/roboto-mono";

interface Props {
  title: string;
}
const { title } = Astro.props;

const styles =
  "min-h-[100dvh] bg-black font-mono text-white [color-scheme:dark] standalone:touch-none";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- icons -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/icon/apple-touch-icon.png?v=2"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/icon/favicon-32x32.png?v=2"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/icon/favicon-16x16.png?v=2"
    />
    <link rel="manifest" href="/site.webmanifest?v=2" />
    <meta name="theme-color" content="#000000" />
    <link rel="shortcut icon" href="/icon/favicon.ico?v=2" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="msapplication-config" content="/browserconfig.xml?v=2" />
    <link
      rel="mask-icon"
      href="/icon/safari-pinned-tab.svg?v=2"
      color="#000000"
    />
    <!-- icons -->
    <meta name="application-name" content="admin" />
    <title>{title}</title>
  </head>
  <body class={styles}>
    <slot />
  </body>
</html>
